.job-box {
	background: article_color_box;
	padding: 15px;
	margin-bottom: 15px !important;
}
.job-box h2 {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.5rem;
	margin: 0;
	padding: 0 0 0.25em 0;
}
.job-box img {
	margin-bottom: 15px;
	width: 100%;
}
.job-box-list:hover img {
	-webkit-transition: all 0.2s ease-out;
	opacity: 0.7;
    transition: all 0.2s ease-out;
}
.job-box-list-link:hover {
	text-decoration: none;
}