@font-face{
	font-family:'FontAwesome';
	font-display: swap;
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}
.job-box {
	background: article_color_box;
	padding: 15px;
	margin-bottom: 15px !important;
}
.job-box .heading {
	padding-bottom: 1em;
}
.job-box h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0 0 0.25em 0;
}
.job-box h3 {
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	padding: 0.75em 0 0.25em 0;
}
.job-box p {
	padding-bottom: 0.25em;
}
.job-box .prolog {
	padding-bottom: 0.5em;
}
.job-box .contact-heading {
	padding-top: 0;
}
.job-box img {
	margin-bottom: 15px;
	width: 100%;
}
.job-box.contact img {
	max-width: 150px;
}
.job-box-list:hover img {
	-webkit-transition: all 0.2s ease-out;
	opacity: 0.7;
    transition: all 0.2s ease-out;
}
.job-box-list-link:hover {
	text-decoration: none;
}
.d2u_jobs_filters {
	padding-bottom: 15px;
}
.d2u_jobs_filters label, .d2u_jobs_filters select {
	margin-right: 15px;
}
.d2u_jobs_filters select {
	border: 1px solid article_color_h;
	padding: 5px 10px;
}
#d2u_jobs_no_vacancies {
	display: none;
}
.d2u_application_form_button {
	background-color: article_color_h;
	border: 1px solid article_color_h;
	color: article_color_bg;
	padding: 5px 15px;
}
.d2u_jobs_arrow_right:before {
	content: "\f105";
	float: right;
	font-family: FontAwesome;
	padding-left: 15px;
}
.d2u_jobs_video:before {
	content: "\f03d";
	font-family: FontAwesome;
	padding-right: 15px;
}
.job-box.contact img {
	margin-bottom: 0;
}
.job-box .col-12 {
	padding-bottom: 15px;
}
.job-box .col-12:last-child {
	padding-bottom: 0;
}
.job-box-list p:last-child, .job-box p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.contact .d2u_application_form_button {
	width: 100%;
}
.d2u_jobs_filter_select_not_all {
	background-color: article_color_bg;
}
.d2u_jobs_questionmark_center {
	text-align: center;
}
.d2u_jobs_big_questionmark {
	font-size: 8em;
	font-weight: bold;
	line-height: 1em;
}